<launch>
  <!-- Arguments -->
  <arg name="exp_type" default="ee"/>
  <arg name="random" default="false"/>

  <!-- Parameters -->
  <param name="exp_type" value="$(arg exp_type)" />
  <param name="random" value="$(arg random)" />

  <!-- sm -->
  <node pkg="robot_pkg" name="MS_maze_search_node" type="MS_maze_search_node.py" output="screen"/>

</launch>
