<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="data_file" default=""/>
  <arg name="type" default=""/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Parameters -->
  <param name="data_file" value="$(arg data_file)" />
  <param name="minimumScore" value="30"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- simulation -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_maze2_world.launch" >
  </include>

  <!-- karto-slam -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_karto.launch">
  </include>

  <!-- AMCL -->
  <!-- <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/> -->

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>

  <!-- gui -->
  <group if="$(eval type=='ee')">
    <node pkg="robot_pkg" name="gui_node" type="gui_node_OC.py" output="screen"/>
  </group>

</launch>
